/* Site Loader */
.site-loader {
  display: none;
  background: $color-white;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
  @include transition(width 0.6s $transitionEffect);
  &.anim {
    width: 25%;
  }
}

.logo-middle {
  display: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: calc(50% - 100px);
  width: 230px;
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

// Go to top

#gotoTop {
  position: fixed;
  left: 4.3%;
  bottom: 60px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  background-color: $color-black-50;
  z-index: z('go-to-top');
  @include transition(all 0.4s $transitionEffect);
  &.active {
    opacity: 1;
    visibility: visible;
  }
  svg{
    filter: brightness(0) invert(1);
    transform: rotate(270deg);
    width: 20px;
    height: 40px;
  }
}

.landscape-alert {
  @include landscape {
    display: block;
  }
  position: fixed;
  width: 100%;
  height: 100%;
  background: $color-white;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 9999;
  display: none;
  padding: 20% 10% 0;
  overflow: hidden;
  p {
    font-size: 16px;
    line-height: 26px;
    color: $color-black;
  }
  span {
    margin-top: 10px;
    display: inline-block;
    border: 1px solid $color-black;
    padding: 5px 10px;
  }
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  height: $header-height;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  @include transition(all 0.4s ease);
  @include breakpoint(1024){
    height: 105px;
  }
  &.light{
    background: #cfe0f1;
    .common-padding-side{
      .header-inner{
        // .logo{
        //   height: $header-height - 1px;
        //   width: 95px;
        //   img{
        //     height: 85px;
        //     width: 90px;
        //   }
        // }
      }
    }
  }
  .common-padding-side{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    .header-btn{
      display: flex;
      align-items: center;
      width: fit-content;
      height: $header-height;
      .header-btn-inner{
        display: flex;
        margin-right: 30px;
        align-items: center;
        .svg{
          margin-right: 12px;
        }
        .num{
          display: flex;
          flex-direction: column;
          a{
            transition: 0.2s;
            &:hover{
              color: #263790;
            }
            &:nth-child(1){
              margin-bottom: 5px;
            }
          }
        }
      }
      @include breakpoint(1024){
        display: none;
      }
      .btn-main{
        max-width: 123px;
        height: 48px;
        padding: 0px 28px;
      }
    }
    .mobile{
      height: 105px;
      display: flex;
      align-items: center;
      .search{
        margin-right: 15px;
      }
      @include min-breakpoint(1025){
        display: none;
      }
    }
  .header-inner{
    display: flex;
    nav{
      @include breakpoint(1024){
        display: none;
      }
      ul{
        margin-bottom: 0px;
        display: flex;
        height: $header-height;
        align-items: center;
        margin-left: 12px;
        li{
          list-style: none;
          margin-left: 32px;
          &.nav-selected{
            a{
              &::before{
                width: 100%;
              } 
            }
          }
          a{
            color: #656464;
            position: relative;
            @include min-breakpoint(1025){
              &::before{
                content: '';
                position: absolute;
                width: 0px;
                height: 1px;
                background-color: #656464;
                top: auto;
                bottom: -5px;
                left: 0;
                transition: 0.3s;
              }
              &:hover{
                &::before{
                  width: 100%;
                }
              }
            }
          }
          &.has-submenu{
            a{
              position: relative;
              &::before{
                content: '';
                background-image: url(../images/arrowDown.svg);
                position: absolute;
                top: 6px;
                left: 62px;
                height: 10px;
                width: 10px;
                background-repeat: no-repeat;
                background-size: contain;
                filter: grayscale(1);
                background-color: transparent;
              }
            }
            ul{
              position: absolute;
              width: 100%;
              left: 0;
              background: #cfe0f1;
              height: 580px;
              z-index: -1;
              top: -580px;
              margin: 0px;
              transition: 0.5s;
              padding: 0px 7%;
              flex-wrap: wrap;
              padding-top: 170px;
              padding-bottom: 100px;
              &.active{
                top: 0;
              }
              li{
                opacity: 0;
                transition: 0.1s;
                width: 45%;
                margin-right: 10%;
                padding: 25px;
                background: rgba(38, 55, 144, 0.05);
                margin-left: 0px;
                display: flex;
                align-items: center;
                position: relative;
                a{
                  transition: 0.2s;
                }
                &:hover{
                  background: #263790;
                  a{
                    color: #ffffff;
                  }
                }
                &:nth-child(2n){
                  margin-right: 0px;
                }
                .inner{
                  width: 70px;
                  height: 70px;
                  background-color: #ffffff;
                  box-shadow: 0px 4px 20px rgba(23, 15, 73, 0.08);
                  border-radius: 15px;
                  padding: 15px;
                  margin-right: 18px;
                  img {
                    width: 100%;
                  }
                }
                &.active{
                  opacity: 1;
                  transition: 0.3s;
                }
                a{
                  font-size: 18px;
                  color: #170F49;
                  line-height: 24px;
                  &::before{
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .logo{
      width: 186px;
      height: 148px;
      text-align: center;
      transition: 0.3s;
      @include breakpoint(1024){
        height: 105px;
        width: 105px;
        img{
          width: 90px;
          transition: 0.3s;
        }
      }
    }
  }
  }
  &.top {
    top: -$header-height - 10px;
    background: #cfe0f1;
  }
  &.sticky {
    top: 0px !important;
    position: fixed;
  }

  // Mobile Menu
  .mobile-menu {
    cursor: pointer;
    float: right;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid #263790;
    border-radius: 50%;
    display: none;
    @include breakpoint($header-breakpoint) {
      display: flex;
    }
    @include transition(left 0.6s ease);
    &:hover .nav-icon,
    &:hover .nav-icon::before,
    &:hover .nav-icon::after {
      background: $color-gray;
    }
    &.active {
      &:hover .nav-icon::before,
      &:hover .nav-icon::after {
        background: $color-gray;
      }
      .nav-icon {
        @include transition(background 0.6s ease);
        background: transparent;
        &::before,
        &::after {
          top: 0;
          @include transition(transform 0.3s ease);
        }
        &::before {
          @include transform(rotate3d(0, 0, 1, 45deg));
        }
        &::after {
          @include transform(rotate3d(0, 0, 1, -45deg));
        }
      }
    }
  }

  .nav-icon,
  .nav-icon::before,
  .nav-icon::after {
    background: #263790;
    display: inline-block;
    width: 50%;
    height: 2px;
    @include transition(all 0.3s ease);
  }

  .nav-icon {
    position: relative;
    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50% 0;
      -webkit-transform-origin: 50% 50% 0;
      -moz-transform-origin: 50% 50% 0;
      width: 100%;
    }
    &::before {
      top: 5px;
    }
    &::after {
      top: -5px;
    }
  }
}

// Mobile menu

.mobile-nav {
  display: none;
  position: fixed;
  height: calc(100vh - 96px);
  right: 0;
  top: $header-height -1px;
  width: 100%;
  background: #cfe0f1;
  z-index: 90;
  @include transform(translateX(120%));
  @include transition(transform 500ms $transitionEffect);
  &.active {
    @include transform(translateX(0));
  }
  @include breakpoint($header-breakpoint) {
    display: block;
  }
  .common-padding-side{
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: 40px;
    .mobile-bg{
      position: absolute;
      opacity: 0.2;
      top: auto;
      bottom: -10%;
      right: -14%;
    }
    nav{
      ul{
        li{
          list-style: none;
          margin-bottom: 20px;
          a{
            font-size: 24px;
            color: #263790;
          }
          &.has-submenu{
            position: relative;
            a{
              pointer-events: none;
            }
            &::before{
              content: '';
              background-image: url(../images/arrowDown.svg);
              position: absolute;
              top: 5px;
              left: 105px;
              height: 20px;
              width: 20px;
              background-repeat: no-repeat;
              background-size: contain;
            }
            ul{
              display: none;
              margin-top: 10px;
              li{
                margin-bottom: 10px;
                position: relative;
                &::before{
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  background-image: url(../images/ArrowRight.svg);
                  height: 20px;
                  width: 20px;
                  background-repeat: no-repeat;
                  background-size: contain;
                }
                a{
                  font-size: 16px;
                  padding-left: 30px;
                  pointer-events: all;
                }
              }
            }
          }
        }
      }
    }
    .btn-blue-background{
      position: absolute;
      top: auto;
      bottom: 80px;
    }
  }
}

main{
  margin-top: $header-height - 1px;
  transition: 0.3s;
  background-image: none;
  position: relative;
  @include breakpoint(767){
    margin-top: 105px;
  }
  &.up{
    &::before{
      margin-top: -95px;
      z-index: 99 !important;
      transition: none;
    }
  }
  &::before{
    content: '';
    background-image: none;
    transition: 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &.active{
    &::before{
    content: '';
    background-image: url(../images/overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    }
  }
}

.swiper-pagination{
  width: fit-content !important;
  text-align: left !important;
  height: fit-content !important;
  .swiper-pagination-bullet{
      width: 20px;
      height: 19.78px;
      border-radius: 0px;
      background: #263790;
      margin-right: 10px;
      opacity: 0.5;
      @include breakpoint(1024){
        width: 10px;
        height: 10px;
    }
  }
  .swiper-pagination-bullet-active{
    opacity: 1;
  }
}


.btn-main{
  height: 61.31px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  text-decoration: none;
  min-width: 162px;
  @include breakpoint(767){
    padding: 0px 25px;
    height: 45px;
    min-width: 130px;
  }
  &:hover{
    text-decoration: none;
  }
}

.btn-blue-background{
  background-color: #263790;
  color: #ffffff;
  transition: 0.3s;
  border: 1px solid transparent;
  @include min-breakpoint(1024){
    &:hover{
      background-color: transparent;
      border: 1px solid #263790;
      color: #263790;
    }
  }
}

.btn-trans-background{
  background-color: transparent;
  color: #263790;
  transition: 0.3s;
  border: 1px solid #263790;
  @include min-breakpoint(1024){
    &:hover{
      background-color: #263790;
      border: 1px solid #263790;
      color: #ffffff;
    }
  }
}

.btn-trans-background-white{
  background-color: transparent;
  color: #ffffff;
  transition: 0.3s;
  border: 1px solid #ffffff;
  max-width: 180px;
  padding: 0px 30px;
  @include min-breakpoint(1024){
    &:hover{
      background-color: #ffffff;
      border: 1px solid #263790;
      color: #263790;
    }
  }
}

.common-padding{
  padding: 9%;
  @include breakpoint(767){
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.common-padding-side{
  padding: 0px 9%;
}


footer{
  position: relative;
  z-index: 3;
  .common-padding-side{
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint(767){
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .row-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid #E3E3EA;
    @include breakpoint(767){
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding-bottom: 40px;
    }
    .left-section {
      display: flex;
      flex-direction: column;
      p {
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        & + a {
          margin-left: 10px;
          img {
            width: 20px;
          }
        }
      }
    }
    .logo{
      width: 120px;
      height: 120px;
      @include breakpoint(767){
        margin-bottom: 40px;
        margin-left: -10px;
      }
    }
    .links{
      a{
        font-size: 18px;
        position: relative;
        @include min-breakpoint(1025){
          &::before{
            content: '';
            position: absolute;
            width: 0px;
            height: 1px;
            background-color: #000000;
            top: auto;
            bottom: -5px;
            left: 0;
            transition: 0.3s;
          }
          &:hover{
            color: #000000;
            &::before{
              width: 100%;
            }
          }
        }
        &:nth-child(2){
          margin: 0px 30px;
        }
      }
    }
    .linkedin{
      // width: 64px;
      // text-align: end;
      // @include breakpoint(767){
      //   position: absolute;
      //   right: 0;
      //   top: auto;
      //   bottom: 43px;
      // }
    }
    }
    .row-2{
      margin-top: 30px;
      text-align: center;
      p{
        font-size: 16px;
      }
    }
  }
}

.login-page{
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  h1{
    margin-bottom: 20px;
  }
  .form-group{
    .btn-primary{
      background-color: #263790;
      border-radius: 0px;
    }
  }
}


.swiper-button-next{
  position: relative !important;
  height: 60px !important;
  width: 60px !important;
  left: 0 !important;
  top: 0 !important;
  margin-top: 0px !important;
  @include breakpoint(767){
    width: 40px !important;
    height: 40px !important;
  }
  &::after{
    content: '' !important;
    background-image: url(../images/nav-right.svg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.swiper-button-prev{
  position: relative !important;
  height: 60px !important;
  width: 60px !important;
  left: 0 !important;
  top: 0 !important;
  margin-top: 0px !important;
  @include breakpoint(767){
    width: 40px !important;
    height: 40px !important;
  }
  &::after{
    content: '' !important;
    background-image: url(../images/nav-left.svg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}


.reveal, .reveallate {
  visibility: hidden;
  position: relative;
  overflow: hidden;
  @include breakpoint(767){
    overflow: unset;
  }
}


.text-title{
  display: none;
  clip-path: inset(0px 0px 0px 0px);
} 

.fadeuplate, .js-chars-reveal-late, .js-chars-reveal, .fadeup{
  opacity: 0;
}

.init-overlay {
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 1000;
	background-color: white;
	top: 0;
	left: 0;
}

a{
    &:focus{
        outline: none;
        text-decoration: none;
    }
}
.btn-blue-background{
  &:focus{
    color: #ffffff;
  }
}

.home-btns{
  &:focus{
    color: #263790;
  }
    @include min-breakpoint(1025){
      &:hover{
        background-color: #ffffff;
        color: #263790;
        border: 1px solid #ffffff;
      }
    }
}


.absolute-a{
  position: absolute !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


div.ccm-area-footer{
  z-index: 20 !important;
}

.page-template-service-detail{
  .whoWeAreDark{
    background-color: transparent !important;
    h3{
      color: #263790 !important;
    }
    ul{
      li{
        color: #4D5053 !important;
        &::before{
          filter: none !important;
        }
      }
    }
    p{
      color: #4D5053 !important;
    }
  }
  .breadcrumb{
    li{
      &:nth-child(2){
        display: none;
      }
    }
  }
}


.whatsapp{
  border: 1px solid #ffffff;
  display: block;
  position: fixed;
  top: auto;
  bottom: 280px;
  left: auto;
  right: 4.3%;
  z-index: 55;
  transition: 0.3s ease;
  opacity: 1;
  pointer-events: all;
  background: #263790;
  padding: 10px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  @include breakpoint(1024){
    font-size: 12px;
  }
  &:hover{
    color: #ffffff;
  }
  @include breakpoint(1024){
    width: 80px;
    height: 80px;
  }
  &.active{
    opacity: 0 !important;
    pointer-events: none;
  }
  &.dark{
    filter: invert(1);
    transition: 0.1s;
  }
  &.hide-w{
    opacity: 0 !important;
    pointer-events: none;
  }
  div{
    position: relative;
    width: 100%;
    height: 100%;
    .w_logo{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 25px;
      @include breakpoint(767){
        width: 20px;
        height: 96px;
      }
    }
    .w_text{
      will-change: transform;
      width: 100px;
      height: 100px;
      @include breakpoint(767){
        width: 60px;
        height: 60px;
      }
    }
  }
}