@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter-Bold.woff2') format('woff2'), 
    url('../fonts/Inter-Bold.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Jost";
    src: url('../fonts/Jost-Regular.woff2') format('woff2'), 
    url('../fonts/Jost-Regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}