.no-support {
  background-color: $color-black-50;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  color: $color-white;
  font-size: 1.2em;
  line-height: 1.2em;
  width: 100%;
  height: auto;
  padding: 10px;
  a {
    color: $color-white;
    text-decoration: underline;
  }
}