h1,h2,h3, h4{
  font-family: var(--font-title);
  color: #263791;
}

h1, h2{
  font-size: 56px;
  line-height: 66px;
}

h2{
  @include breakpoint(767){
    font-size: 28px;
    line-height: 28px;
  }
}

h3{
  font-size: 36px;
  line-height: 36px;
  color: #263791;
  @include breakpoint(767){
    font-size: 28px;
  }
}

h4{
  font-size: 20px;
  line-height: 32px;
}

p, h5{
  font-family: var(--font-para);
}

p{
  color: #4D5053;
  font-size: 18px;
  @include breakpoint(767){
    font-size: 16px;
  }
}

h5{
  color: #ffffff;
}

p.big{
  font-size: 22px;
  line-height: 150%;
}

p.small{
  font-size: 18px;
  line-height: 150%;
}

p.blue{
  color: #263791;
  @include breakpoint(767){
    font-size: 16px;
  }
}

h3.red{
  color: #F70303;
  font-size: 24px;
  line-height: 66px;
  @include breakpoint(767){
    font-size: 18px;
  }
}

a{
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
