.homepageBanner{
    height: calc(100vh - 96px);
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    @include breakpoint(1024){
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .left{
        width: 48%;
        display: flex;
        align-items: center;
        padding-left: 9%;
        @include breakpoint(1024){
            width: 100%;
            height: 100%;
            padding-right: 9%;
        }
        .left-inner{
            margin-top: -13%;
            @include breakpoint(1024){
                margin-top: 0px;
            }
            h1{
                margin-bottom: 8px;
                @include breakpoint(767){
                    font-size: 36px;
                    line-height: 40px;
                }
            }
            h3{
                width: fit-content;
                margin-left: 25%;
                margin-bottom: 21px;
                line-height: 30px;
                @include breakpoint(767){
                    margin-bottom: 10px;
                    margin-left: 15%;
                }
            }
            p{
                padding-right: 15%;
                margin-bottom: 50px;
                @include breakpoint(767){
                    margin-bottom: 25px;
                    padding-right: 0px;
                }
            }
            .banner-buttons{
                display: flex;
                width: fit-content;
                @include breakpoint(1024){
                    width: 100%;
                    flex-direction: column;
                }
                a{
                    @include breakpoint(1024){
                        width: 100%;
                    }
                    &:nth-child(1){
                        margin-right: 18px;
                        @include breakpoint(1024){
                            margin-right: 0px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        .swiper-pagination{
            bottom: 64px !important;
            left: 9% !important;
            @include breakpoint(1024){
                left: 50% !important;
                transform: translateX(-50%);
                top: 26vh;
                .swiper-pagination-bullet{
                    background: rgba($color: #fff, $alpha: 0.5);
                }
                .swiper-pagination-bullet-active{
                    background: rgba($color: #fff, $alpha: 1.0);
                }
            }
        }
    }
    .right{
        width: 52%;
        @include breakpoint(1024){
            width: 100%;
        }
        .bannerSlider{
            position: relative;
            overflow: hidden;
            .swiper-wrapper{
                .swiper-slide{
                    height: calc(100vh - 96px);
                    position: relative;
                    @include breakpoint(1024){
                        height: 45vh;
                    }
                    @include breakpoint(767){
                        height: 30vh;
                    }
                    .main-img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                    .overlay-b{
                        display: none;
                        @include breakpoint(1024){
                            display: block;
                            position: absolute;
                            left: 0;
                            width: 100%;
                            top: auto;
                            bottom: 0px;
                            z-index: 5;
                        }
                    }
                }
            }
        }
    }
}